.App {
  text-align: center;
}

.logo {
  height: 30vmin;
  pointer-events: none;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
